.log-body, .landing-body
/* html,
body  */{
  background: no-repeat center center fixed;
  background: url('Resources/Background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

/* generate opacity for new category prompt */
.user-overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order of element */
}

/* generate input box for prompt */
.user-prompt {
  position: absolute;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px 30px;
  width: 700px;

  /* prompt alignment */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  padding: 40px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.login-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  /* padding-top: 40px;
  padding-bottom: 40px; */
  background-color: #f5f5f5;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 25%;
}

.name-container {
  align-items: center; 
  position: absolute;
  top: 40%;
  left: 20%;
  margin-top: -40px;
  margin-left: -20px;
  width: 600px;
  height: 175px;
}

#name {
  color: #ffffff;
  position: absolute;
  text-align: center;
  font-size: 100px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  /* border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
}

.btn {
  border-radius:40px;
}

#no-account {
  text-align: center;
}

.form-inline input[type="search"]{
  margin-bottom: 10px;
}

.magnif-glass {
  width: 5px;
  height: 5px;
}

aside {
  width: 20%;
  height: auto;
  margin-left: 0px;
  float: left;
  font-style: italic;
  background-color: white;
  text-align: center;
  /* border: 0.6px groove #B9B9B9; */
}

main {
  /* margin: 1em; */
  float: right;
  width: 80%;
  height: auto;
  background-color: #CADFEE;
  background-image: none;
  margin: 0%;
  padding: 1em 14%;
}

/* CREATE PROFILE  */
.about-me {
  display: inline-block;
  margin-top: 5px;
  grid-column: 1 / 3;
  text-align: center;
}

.upload-profileimg {
  grid-column: 1 / 2;
  text-align: center;
  margin-right: auto;
}

#avatar {
  display: block;
  width: 200px;
  height: 200px;
}

.upload-profile-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#upload-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 20px;
}

.upload-profile-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

 .user-name-container {
  display: inline-block;
  grid-column: 2 / 3;
}

.lname-container {
  margin-top: 40px;
}

.bio-container {
  display: inline-block;
  grid-column: 1 / 3;
}

.height-container{
  display: inline-block;
  grid-column: 1 / 2; 
}

.weight-container {
  display: inline-block;
  grid-column: 2 / 3;
}

#height, #weight {
  display: inline-block;
  margin-left: 30px;
  width: 70px;
}

.gender-container {
  display: inline-block;
  grid-column: 1 / 3;
}

.radio-inline {
  margin-right: 70px;
}

input[type="radio"] {
  margin-right: 5px;
}

#user-info-submit {
  display: inline-block;
  grid-column: 1 / 3;
}

.far {
  font-size: 25px;
  color: lightsteelblue;
}

.activity {
  border-color: black;
  border-width: 2em;
  background-color: white;
  color: black;
} 

.activity-img {
  float: none;
  padding-left: 35%;
}

.caption {
  text-align: center;
  background-color: white;
  margin-bottom: 0em;
}

.toggles {
  background-color: white;
  width: 100%;
  display: inline-flex;
  float: right;
}

.fa-heart {
  margin: 0em 0em 0em 0px;
  background-color: white;
  
}

.btn-group-vertical {
  margin-bottom: 5px;
}

.user-stat {
  text-align: justify;
}

#btns {
  margin-bottom: 1em;
  padding: 1em;
}

#btns:hover {
  background-color: #3CA9E3;
  color: white;
}

#btns:active {
  border-color: #3CA9E3;
}

.user-stats {
  text-align: unset;
}

.item {
  display: inline-block;
  text-align: center;
  margin: 0.2em 0.5em;
  padding: 1em 1em;
  background-color: #1A3F56;
  color: #61BCC6;
  border: 2px solid #3CA9E3;
  border-radius: 15%;
  width: 100px;
  height: auto;
}
.activities {
  width: 100%;
  height: auto;
}
